{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}My_Shop{% endblock %}</title>
</head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'CSS/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{%static 'IMG/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,400;1,500&display=swap" rel="stylesheet">
    <title>My Website</title>
</head>
<body>

    {% include 'includes/navbar.html' %} 

   <main>
    {% block content %}
    {% endblock %}
   </main>

   {% include 'includes/footer.html' %} 
   <script src="{%static 'JS/script.js%'}"></script>
    

</body>
</html>